In [1]:
import pandas as pd 

data =[12,23,45,9,19]
s=pd.Series(data,index=['a','b','c','d','e'])
print(s)

a    12
b    23
c    45
d     9
e    19
dtype: int64

In [2]:
data = {
    'Product': ['Laptop', 'Phone', 'Tablet', 'Headphones'],
    'Price': [800, 500, 300, 100],
    'Stock': [50, 200, 150, 300]
}

df = pd.DataFrame(data)
print(df)

      Product  Price  Stock
0      Laptop    800     50
1       Phone    500    200
2      Tablet    300    150
3  Headphones    100    300

In [3]:
column = df['Price']
print(column)

0    800
1    500
2    300
3    100
Name: Price, dtype: int64

In [4]:
row = df.loc[1]
print(row)

Product    Phone
Price        500
Stock        200
Name: 1, dtype: object

In [5]:
subset = df.loc[1:3, ['Product', 'Price']]
print(subset)

      Product  Price
1       Phone    500
2      Tablet    300
3  Headphones    100

In [6]:
df.isnull()

   Product  Price  Stock
0    False  False  False
1    False  False  False
2    False  False  False
3    False  False  False

In [7]:
df.fillna(0, inplace=True)
df

      Product  Price  Stock
0      Laptop    800     50
1       Phone    500    200
2      Tablet    300    150
3  Headphones    100    300

In [8]:
df.dropna(inplace=True)

In [10]:
grouped = df.groupby('Product').agg({'Price': ['mean']})
print(grouped)

            Price
             mean
Product
Headphones  100.0
Laptop      800.0
Phone       500.0
Tablet      300.0

In [11]:
grouped = df.groupby('Product').agg({'Stock': ['mean', 'min', 'max']})
print(grouped)

            Stock
             mean  min  max
Product
Headphones  300.0  300  300
Laptop       50.0   50   50
Phone       200.0  200  200
Tablet      150.0  150  150