In [1]:
import pandas as pd

In [3]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2],'both': [20, 2]},
             index=[0, 1])

   Yes   No  both
0   50  131    20
1   21    2     2

In [4]:
smart_watches =  pd.read_csv('C:/Users/HP/.cache/kagglehub/datasets/rkiattisak/smart-watch-prices/versions/1/smart watch prices.csv',
                             index_col=0)

pd.set_option('display.max_rows',4) # Display maximum 4 rows of a dataframe

smart_watches

,Model,Operating System,Connectivity,Display Type,Display Size (inches),Resolution,Water Resistance (meters),Battery Life (days),Heart Rate Monitor,GPS,NFC,Price (USD)
Brand,,,,,,,,,,,,
Apple,Watch Series 7,watchOS,"Bluetooth, Wi-Fi, Cellular",Retina,1.90,396 x 484,50,18,Yes,Yes,Yes,$399
Samsung,Galaxy Watch 4,Wear OS,"Bluetooth, Wi-Fi, Cellular",AMOLED,1.40,450 x 450,50,40,Yes,Yes,Yes,$249
...,...,...,...,...,...,...,...,...,...,...,...,...
Oppo,Watch Free,ColorOS,"Bluetooth, Wi-Fi",AMOLED,1.64,326 x 326,50,14,Yes,No,Yes,$159
TicWatch,Pro 3,Wear OS,"Bluetooth, Wi-Fi, Cellular",AMOLED,1.40,454 x 454,50,72,Yes,Yes,Yes,$299

In [5]:
smart_watches.Model

Brand
Apple       Watch Series 7
Samsung     Galaxy Watch 4
                 ...
Oppo            Watch Free
TicWatch             Pro 3
Name: Model, Length: 379, dtype: object

In [ ]:
smart_watches.Connectivity # we can access a column using dot notation

Brand
Apple       Bluetooth, Wi-Fi, Cellular
Samsung     Bluetooth, Wi-Fi, Cellular
                       ...
Oppo                  Bluetooth, Wi-Fi
TicWatch    Bluetooth, Wi-Fi, Cellular
Name: Connectivity, Length: 379, dtype: object

In [ ]:
smart_watches['Connectivity'] # Alternative way to access a column

Brand
Apple       Bluetooth, Wi-Fi, Cellular
Samsung     Bluetooth, Wi-Fi, Cellular
                       ...
Oppo                  Bluetooth, Wi-Fi
TicWatch    Bluetooth, Wi-Fi, Cellular
Name: Connectivity, Length: 379, dtype: object

In [18]:
smart_watches['Connectivity'][5] # Accessing a specific value in a column

C:\Users\HP\AppData\Local\Temp\ipykernel_26928\1955007003.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  smart_watches['Connectivity'][5] # Accessing a specific value in a column

'Bluetooth, Wi-Fi, Cellular'