In [1]:
import pandas as pd

In [3]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [4]:
pd.DataFrame({'Shakib':['I like you','Forever'],'Jui':['I dont like you','Never']})

       Shakib              Jui
0  I like you  I dont like you
1     Forever            Never

In [6]:
pd.DataFrame({'Shakib':['I like you','Forever'],'Jui':['I dont like you','Never']},
              index=['1','2'] )

       Shakib              Jui
1  I like you  I dont like you
2     Forever            Never