In [3]:
import pandas as pd

In [7]:
smartWatches=pd.read_csv('C:/Users/HP/.cache/kagglehub/datasets/rkiattisak/smart-watch-prices/versions/1/smart watch prices.csv',
            index_col=0)  # Setting the first column as index
pd.set_option('display.max_rows',4)  # Display maximum 4 rows of a dataframe
smartWatches

,Model,Operating System,Connectivity,Display Type,Display Size (inches),Resolution,Water Resistance (meters),Battery Life (days),Heart Rate Monitor,GPS,NFC,Price (USD)
Brand,,,,,,,,,,,,
Apple,Watch Series 7,watchOS,"Bluetooth, Wi-Fi, Cellular",Retina,1.90,396 x 484,50,18,Yes,Yes,Yes,$399
Samsung,Galaxy Watch 4,Wear OS,"Bluetooth, Wi-Fi, Cellular",AMOLED,1.40,450 x 450,50,40,Yes,Yes,Yes,$249
...,...,...,...,...,...,...,...,...,...,...,...,...
Oppo,Watch Free,ColorOS,"Bluetooth, Wi-Fi",AMOLED,1.64,326 x 326,50,14,Yes,No,Yes,$159
TicWatch,Pro 3,Wear OS,"Bluetooth, Wi-Fi, Cellular",AMOLED,1.40,454 x 454,50,72,Yes,Yes,Yes,$299

In [8]:
smartWatches.iloc[0]  # Accessing the first row using iloc

Model               Watch Series 7
Operating System           watchOS
                         ...
NFC                            Yes
Price (USD)                  $399
Name: Apple, Length: 12, dtype: object

In [9]:
smartWatches.iloc[:,0]

Brand
Apple       Watch Series 7
Samsung     Galaxy Watch 4
                 ...
Oppo            Watch Free
TicWatch             Pro 3
Name: Model, Length: 379, dtype: object

In [10]:
smartWatches.iloc[:3,0]

Brand
Apple      Watch Series 7
Samsung    Galaxy Watch 4
Garmin             Venu 2
Name: Model, dtype: object

In [11]:
smartWatches.iloc[1:3,0]

Brand
Samsung    Galaxy Watch 4
Garmin             Venu 2
Name: Model, dtype: object

Assigning Data

In [17]:
# Assigning data into the DataFrame column
smartWatches['Connectivity'] = 'Yes'
smartWatches

,Model,Operating System,Connectivity,Display Type,Display Size (inches),Resolution,Water Resistance (meters),Battery Life (days),Heart Rate Monitor,GPS,NFC,Price (USD)
Brand,,,,,,,,,,,,
Apple,Watch Series 7,watchOS,Yes,Retina,1.90,396 x 484,50,18,Yes,Yes,Yes,$399
Samsung,Galaxy Watch 4,Wear OS,Yes,AMOLED,1.40,450 x 450,50,40,Yes,Yes,Yes,$249
...,...,...,...,...,...,...,...,...,...,...,...,...
Oppo,Watch Free,ColorOS,Yes,AMOLED,1.64,326 x 326,50,14,Yes,No,Yes,$159
TicWatch,Pro 3,Wear OS,Yes,AMOLED,1.40,454 x 454,50,72,Yes,Yes,Yes,$299

In [18]:
# Assigning data into the DataFrame column
smartWatches['Used'] = 'No'
smartWatches

,Model,Operating System,Connectivity,Display Type,Display Size (inches),Resolution,Water Resistance (meters),Battery Life (days),Heart Rate Monitor,GPS,NFC,Price (USD),Used
Brand,,,,,,,,,,,,,
Apple,Watch Series 7,watchOS,Yes,Retina,1.90,396 x 484,50,18,Yes,Yes,Yes,$399,No
Samsung,Galaxy Watch 4,Wear OS,Yes,AMOLED,1.40,450 x 450,50,40,Yes,Yes,Yes,$249,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Oppo,Watch Free,ColorOS,Yes,AMOLED,1.64,326 x 326,50,14,Yes,No,Yes,$159,No
TicWatch,Pro 3,Wear OS,Yes,AMOLED,1.40,454 x 454,50,72,Yes,Yes,Yes,$299,No